In [1]:
import pandas as pd
df = pd.read_csv('final_food_delivery_dataset.csv')
df['order_date'] = pd.to_datetime(df['order_date'], dayfirst=True)

In [3]:
gold_members = df[df['membership'] == 'Gold']
city_gold_rev = gold_members.groupby('city')['total_amount'].sum().sort_values(ascending=False)
print("City with highest Gold member revenue:")

City with highest Gold member revenue:

In [4]:
gold_members = df[df['membership'] == 'Gold']
city_gold_rev = gold_members.groupby('city')['total_amount'].sum().sort_values(ascending=False)
print("City with highest Gold member revenue:")
print(city_gold_rev.head(1))

City with highest Gold member revenue:
city
Chennai    1080909.79
Name: total_amount, dtype: float64

In [7]:
cuisine_aov = df.groupby('cuisine')['total_amount'].mean().sort_values(ascending=False)
print("Cuisine with highest Average Order Value:")
print(cuisine_aov.head(1))

Cuisine with highest Average Order Value:
cuisine
Mexican    808.021344
Name: total_amount, dtype: float64

In [9]:
user_total_spend = df.groupby('user_id')['total_amount'].sum()
high_spenders = user_total_spend[user_total_spend > 1000].count()
print(f" Number of distinct users who spent : {high_spenders}")

 Number of distinct users who spent : 2544

In [12]:
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
df['rating_range'] = pd.cut(df['rating'], bins=bins)
rating_rev = df.groupby('rating_range', observed=False)['total_amount'].sum().sort_values(ascending=False)
print(" Rating range with highest revenue:")
print(rating_rev.head(1))

 Rating range with highest revenue:
rating_range
(4.5, 5.0]    2197030.75
Name: total_amount, dtype: float64

In [13]:
gold_city_aov = gold_members.groupby('city')['total_amount'].mean().sort_values(ascending=False)
print("City with highest AOV among Gold members:")
print(gold_city_aov.head(1))

City with highest AOV among Gold members:
city
Chennai    808.45908
Name: total_amount, dtype: float64

In [17]:
cuisine_stats = df.groupby('cuisine').agg({'restaurant_name_x': 'nunique', 'total_amount': 'sum'})
cuisine_stats.columns = ['distinct_restaurants', 'total_revenue']
cuisine_stats_sorted = cuisine_stats.sort_values('distinct_restaurants')
print(f"Cuisine with lowest distinct restaurants but significant revenue: {cuisine_stats_sorted.index[0]}")

Cuisine with lowest distinct restaurants but significant revenue: Chinese

In [18]:
gold_order_pct = (len(gold_members) / len(df)) * 100
print(f"Percentage of orders by Gold members: {round(gold_order_pct)}%")

Percentage of orders by Gold members: 50%

In [21]:
chennai_df = df[df['city'] == 'Chennai']
chennai_options = chennai_df[chennai_df['restaurant_name_x'].isin(options)]
rest_stats = chennai_options.groupby('restaurant_name_x').agg({'total_amount': 'mean', 'order_id': 'count'})
high_aov_low_orders = rest_stats[rest_stats['order_id'] < 20].sort_values(by='total_amount', ascending=False)
print(f"Restaurant with highest AOV but < 20 orders (Chennai): {high_aov_low_orders.index[0]}")

Restaurant with highest AOV but < 20 orders (Chennai): Grand Cafe Punjabi

In [24]:
options_9 = [('Gold', 'Indian'), ('Gold', 'Italian'), ('Regular', 'Indian'), ('Regular', 'Chinese')]
combo_rev = df.groupby(['membership', 'cuisine'])['total_amount'].sum()
max_combo = max([(m, c, combo_rev[(m, c)]) for m, c in options_9 if (m, c) in combo_rev.index], key=lambda x: x[2])
print(f"Membership + Cuisine with highest revenue: {max_combo[0]} + {max_combo[1]}")

Membership + Cuisine with highest revenue: Gold + Italian

In [25]:
df['quarter'] = df['order_date'].dt.quarter
quarter_rev = df.groupby('quarter')['total_amount'].sum().sort_values(ascending=False)
quarter_names = {1: 'Q1 (Jan-Mar)', 2: 'Q2 (Apr-Jun)', 3: 'Q3 (Jul-Sep)', 4: 'Q4 (Oct-Dec)'}
print(f"Quarter with highest revenue: {quarter_names[quarter_rev.index[0]]}")

Quarter with highest revenue: Q3 (Jul-Sep)

In [26]:
len(gold_members)

4987

In [27]:
round(df[df['city'] == 'Hyderabad']['total_amount'].sum())

1889367

In [28]:
df['user_id'].nunique()

2883

In [29]:
round(gold_members['total_amount'].mean(), 2)

797.15

In [30]:
len(df[df['rating'] >= 4.5])

3374

In [31]:
top_city = gold_members.groupby('city')['total_amount'].sum().idxmax()
len(gold_members[gold_members['city'] == top_city])

1337

In [32]:
print(f"Total Rows: {len(df)}")

Total Rows: 10000